body {
  margin: 0;
  padding: 0;
}
header{
  height:80px;
  background: rgb(129, 1, 129);
  color: #fff;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  padding: 0 80px;
  
}

header h1 {
  margin: 0;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding-left: 0;
}

nav ul li {
  text-align: right;
}

section {
  padding: 60px;
  background-color: #eee;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

section .sidebar {
  background: aliceblue;
}

section .content,
section .sidebar {
  padding: 0 40px;
}

footer {
  background: #333;
  color: #fff;
  padding: 20px ;
}

footer p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  header {
    grid-template-columns: 1fr;
  }

  header h1 {
    text-align: center;
  }

  nav ul li {
    text-align: center;
  }
  section {
    grid-template-columns: 1fr;
  }
}